@{ 
    var localizer = HtmlLocalizerFactory.Create(
            baseName: "Views.Shared._Layout" /*مشخصات ویو جاری*/,
            location: "SampleFive.ExternalResources" /*نام اسمبلی ثالث*/);
    var isrtlstyle = IsRtlMyCultureSiteStyle();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @MySharedLocalizer["Sample Five"]</title>
    @if (isrtlstyle)
    {
    <link href="/css/site.rtl.min.css" rel="stylesheet" />
    }
    else
    {
    <link href="/css/site.min.css" rel="stylesheet" />
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@MySharedLocalizer["Sample Five"]</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> @localizer["Home"]</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About"><i class="fa fa-info"></i> @localizer["About"]</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact"><i class="fa fa-phone"></i> @localizer["Contact"]</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="col-md-6">
                <p>&copy; @await Component.InvokeAsync("SiteCopyright", new { numberToTake = 5 })</p>
            </div>
            <div class="col-md-6 text-right">
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </footer>
    </div>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
        @RenderSection("scripts", required: false)
</body>
</html>

